<meta charset="utf-8">
<meta name="viewport", content="width=device-width">
<meta name="description" content="{{ description }}">

<title>{{ title }}</title>

<link rel="stylesheet" href="/assets/normalize.min.css">
<link rel="stylesheet" href="/assets/index.css">