<meta charset="utf-8">
<meta name="viewport", content="width=device-width">
<meta name="description" content="{{ description }}">
<link rel="icon" type="image/png" href="http://icons.iconarchive.com/icons/led24.de/led/16/heart-empty-icon.png">

<title>{{ title }}</title>
