<nav>
    <ul>
      <li><a href="{{ title }}/">{{title}}</a></li>
      <li><a href="configs/">configs</a></li>
      <li><a href="etc/">etc</a></li>
      <li><a href="joy/">joy</a></li>
      <li><a href="m/">m</a></li>
      <li><a href="sw/">sw</a></li>
      <li><a href="uses/">uses</a></li>
    </ul>
  </nav>
