body {
  font-family: Liberation Sans, Arial, sans-serif;
  background-color: #84aaf7;
  line-height: 1.5;
}
main {
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}
header {
  margin-bottom: 1.5rem;
}
h1 {
  margin-bottom: .5rem;
}
time {
  color: #d1e8ff;
  text-decoration: italic;
}
pre {
  white-space: pre-wrap;
}
hr {
  margin-top: 2rem;
}
#fn {
  font-size: 85%;
}
a {
  color: #fff9c4;
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: underline;
}
::selection {
  background-color: #fff9c4;
}
