<!doctype html>
<html lang="{{ language }}">
  <head>
  <meta charset="utf-8">
  <meta name="viewport", content="width=device-width">
  <meta name="description" content="{{ description }}">
  <link rel="icon" type="image/png" href="http://icons.iconarchive.com/icons/led24.de/led/16/heart-empty-icon.png">
    <title>entries</title>
<style>

    body {
        font-family: Helvetica, sans-serif;
        background-color: #edffed;
        line-height: 1.3;
      }
      main {
        max-width: 70ch;
        padding: 2ch;
        margin: auto;
      }
      a {
        color: black;
        text-decoration: none;
        outline: 0;
      }
      a:hover {
        text-decoration: underline;
      }
      ol {
        list-style-type: none;
        padding: 1rem 0;
      }
      li {
        margin-bottom: 0.5rem;
      }
      a {
        display: inline-block;
        width: 60%;
      }
      time {
        float: right;
        color: black;
        text-decoration: italic;
      }
      ::selection {
        background-color: white;
      }
</style>
  </head>
  <body>
    <main>
      <h1>entry index</h1>
      <ul class="posts">
      {{#posts}}
        <li class="post">
          <a href="{{{path}}}.html">
            {{title}}
          </a>
        </li>
      {{/posts}}
      </ul>
    </main>
  </body>
</html>
