<!doctype html>
<html lang="{{ language }}">
  <head>
    {{> head }}
    <link rel="stylesheet" href="assets/ect.css">
  </head>
  <body>
    <main>{{{ content }}}<time>2019-12-23</time>
    </main>
  </body>
</html>
