<!doctype html>
<html lang="{{ language }}">
  <head>
    {{> head }}
    <link rel="stylesheet" href="/assets/post.css">
  </head>
  <body>
    <main>
      <article>
        {{{ content }}}
      </article>
    </main>
  </body>
</html>
