body {
    font-family: Helvetica, sans-serif;
    background-color: #edffed;
    line-height: 1.3;
  }
  main {
    max-width: 70ch;
    padding: 2ch;
    margin: auto;
  }
  a {
    color: black;
    text-decoration: none;
    outline: 0;
  }
  a:hover {
    text-decoration: underline;
  }
  ol {
    list-style-type: none;
    padding: 1rem 0;
  }
  li {
    margin-bottom: 0.5rem;
  }
  a {
    display: inline-block;
    width: 60%;
  }
  time {
    float: right;
    color: black;
    text-decoration: italic;
  }
  ::selection {
    background-color: white;
  }
