body {
	font-family: Helvetica, sans-serif;
	background-color: #edffed;
	line-height: 1.3;
}
main {
	background-color: #edffed;
	font-family: Helvetica, sans-serif;
	max-width: 70ch;
	padding: 2ch;
	margin: auto;
}
a {
  color: black;
}
a:hover {
	text-decoration: underline;
}
header {
	margin-bottom: 1.5rem;
}
h1 {
	margin-bottom: .5rem;
}
time {
	color: black;
	text-decoration: italic;
}
pre {
	white-space: pre-wrap;
}
hr {
	margin-top: 2rem;
}
#fn {
	font-size: 85%;
}
a {
	color: black;
	text-decoration: none;
	outline: 0;
}
a:hover {
	text-decoration: underline;
}
::selection {
	background-color: white;
}
